<div class="bg-dark">
  <div class="container text-white py-2">
    <div class="row justify-content-between">
      <h4 class="project-name">
        <%= @task.feature.project.project_name%>
      </h4>
    </div>
  </div>
</div>

<div class="container mt-2">
  <%= render 'shared/msgs' %>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div>
        <strong class="d-inline">Feature Description: </strong><span><%= @task.feature.description %></span>
      </div>
      <%= link_to "View attachment", @task.feature.attachment_url, target: "_blank" %>
      <h5>Task: <%= @task.description %></h5>
      <div>
        <strong>Assigned to: </strong>  
        <em>
          <% if @task.users.size > 0 %>
            <%= assigned_users(@task.users) %>
          <% else %>
            No one
          <% end %>
        </em>
      </div>
      <div>
        <strong>Status: </strong> 
        <em>
          <%= @task.status %>
        </em>
      </div>
    </div>
  </div>
  <div class="row justify-content-center my-1">
    <div class="col-6">
      <% if !@task.delivered %>
        <%= render "form" %>
      <% end %>
    </div>
  </div>
  <hr class="my-1"/>
  <div class="row justify-content-center">
    <div class="col-7">
      <h6><%= pluralize(@task.comments.size, "Comment") %></h6>
      <div class="comments">
        <%= render @task.comments %>
      </div>
    </div>
    <div class="col-5">
      <h5>Add a comment:</h5>
      <%= render "comments/form" %>
    </div>
	</div>
</div>
