<div class="bg-dark">
  <div class="container text-white py-2">
    <div class="row justify-content-between">
      <h4 class="project-name">
        <%= @task.feature.project.project_name%>
      </h4>
    </div>
  </div>
</div>

<div class="container mt-2">
  <%= render 'shared/msgs' %>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div>
        <span class="d-inline">Feature Description: </span><span><%= @task.feature.description %></span>
      </div>
      <%= link_to "View attachment", @task.feature.attachment_url, target: "_blank" %>
      <h5>Task: <%= @task.description %></h5>
      <div>
        Assigned to: <%= assigned_users(@task.users) %>
      </div>
      <div>
        Status: <%= task_status(@task) %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-6">
      <%= render "form" %>
    </div>
  </div>
</div>
