<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Project Manager", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if logged_in? %>
        <li class="nav-item <%= 'active' if request.path == projects_path %>">
            <%= link_to "My Projects", projects_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if request.path == user_tasks_path %>">
            <%= link_to "My tasks", user_tasks_path, class: 'nav-link' %>
        </li>
      <% end  %>
    </ul>
    <ul class="navbar-nav ml-auto mr-1">
      <li class="nav-item mr-1">
        <% if logged_in? %>
          <a class="nav-link" href="#">Welcome <%= curr_user.username %></a>
        <% else %>
          <a class="nav-link" href="#">Welcome Guest</a>
        <% end %>
      </li>
      <% if !logged_in? %>
        <li class="nav-item">
          <%= link_to "SignUp", signup_path, class: 'btn btn-info mr-2' %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", login_path, class:"btn btn-primary" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Logout", logout_path, class:"btn btn-danger", method: :delete %>
        </li>
      <% end %>
    </ul>
      
  </div>
</nav>