<%= render 'shared/navigation' %>
<div class="container">
  <%= render 'shared/msgs' %>
  
  <% if curr_user && @projects.length > 0 %>
    <div class="row px-2 pt-1 bg-dark text-white mt-2">
      <div class="col-9 p-2">
        <h5> -- Your projects --</h5>
      </div>
      <div class="col-3 p-2 text-center">
        <h5>Create New
          <%= link_to new_project_path, remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'  do %>
            <i class="fas fa-plus-circle fa-lg"></i>
          <% end %>
        </h5>
      </div>
    </div>
    
    <% @projects.each do |project| %>
      <div class="row my-1">
      <%= link_to project_path(project), target: :_blank, class: "btn btn-outline-dark" do %>
        <%= project.project_name %>
      <% end  %>
      </div>
    <% end %>
  <% else %>
    <div class="row justify-content-center mt-2 mb-0" >
      <h4 class="m-0">Welcome to Project Management Tool</h4>
    </div>
    <hr class="mb-1">
    <p>Seems like you don't have a project yet</p>
    <h5>Create your very first project Below to get started!</h5>
    <%= form_with(scope: :project, class: "shadow p-4 bg-dark rounded", local: true) do |f| %>
      <div class="form-group row">
        <%= f.label :project_name , class: "col-sm-2 col-form-label text-white" %>
        <div class="col-sm-10">
          <%= f.text_field :project_name, class: "form-control", placeholder: "Enter a name for your project" %>
        </div>
      </div>
      <div class="form-group row justify-content-center mb-0">
        <%= f.submit "Create Project", class: "btn btn-outline-light btn-lg"%> 
      </div> 
    <% end %>
  <% end %>
</div>

<%= render 'projects/modal' %>