<div class="bg-dark">
  <div class="container text-white py-2">
    <div class="row justify-content-between">
      <h4>Project Dashboard</h4>
      <div>
      <%= @project.project_name %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= render 'shared/msgs' %>
  <div class="row mt-1 flex-column">
    <div>
      <a class="btn btn-dark" data-toggle="collapse" href="#myCollapse" role="button" aria-expanded="false" aria-controls="myCollapse">+ Add Feature</a>
    </div>
    <div>
      <div class="collapse multi-collapse" id="myCollapse">
        <div class="card card-body">
          <%= render 'features/form' %>
        </div>
      </div>
    </div>
  </div>
  <% @features.each do |feature| %>
    <div>
    <%= feature.title %>
    <%= feature.description %>
    </div>
  <% end  %>
</div>