<div class="bg-dark">
  <div class="container text-white py-2">
    <div class="row justify-content-between">
      <h4>Project Dashboard</h4>
      <div class="project-name">
        <%= @project.project_name%>
      </div>
    </div>
  </div>
</div>
<span id="menu-icon">&#9776;</span>
<div id="mySidenav" class="sidenav">
  <a class="closebtn" id="close-icon">&times;</a>
  <a id="currOpen">Current Iteration</a>
  <a id="backOpen">BackLogs</a>
  <a id="iceOpen">IceBox</a>
  <
</div>

<div class="container">
  <div id="msgs">
    <%= render 'shared/msgs' %>
  </div>
  <div class="row justify-content-center my-2">
    <%= form_with(url: @project, method: :get, local: true) do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search feature" %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
  <div class="row mx-lg-n5 px-2 mt-1 d-flex justify-content-between">
    <div class="section" id="currItr">
      <div class="row justify-content-between align-items-center">
        <div class="col-6">
          <h5>Current Iteration</h5>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <a class="btn btn-dark" data-toggle="collapse" href="#myCollapse1" role="button" aria-expanded="false" aria-controls="myCollapse1">+ Add Feature</a>
          <button id="currBtn">
            <i class="far fa-times-circle fa-lg"></i>
          </button>
        </div>
      </div>
      <div class="scrollbar">
        <div class="collapse multi-collapse mt-1" id="myCollapse1">
          <div class="card card-body p-0">
            <%= render 'features/form', obj: 1 %>
          </div>
        </div>
        <div class="features-list mt-2">
          <%= render 'features/lists', obj:{ arr: @cat1, fid: '1'} %>
        </div>
      </div>
    </div>

    <div class="section" id="backlogs">
      <div class="row justify-content-between align-items-center">
        <div class="col-6">
          <h5>BackLogs</h5>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <a class="btn btn-dark" data-toggle="collapse" href="#myCollapse2" role="button" aria-expanded="false" aria-controls="myCollapse2">+ Add Feature</a>
          <button id="backBtn">
            <i class="far fa-times-circle fa-lg"></i>
          </button>
        </div>
      </div>
      <div class="scrollbar">
        <div class="collapse multi-collapse mt-1" id="myCollapse2">
          <div class="card card-body p-0">
            <%= render 'features/form', obj: 2 %>
          </div>
        </div>
        <div class="features-list mt-2">
          <%= render 'features/lists', obj: { arr: @cat2, fid: '2'} %>
        </div>
      </div>
    </div>

    <div class="section" id="icebox">
      <div class="row justify-content-between align-items-center">
        <div class="col-6">
          <h5>IceBox</h5>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <a class="btn btn-dark" data-toggle="collapse" href="#myCollapse3" role="button" aria-expanded="false" aria-controls="myCollapse3">+ Add Feature</a>
          <button id="iceBtn">
            <i class="far fa-times-circle fa-lg"></i>
          </button>
        </div>
      </div>
      <div class="scrollbar">
        <div class="collapse multi-collapse mt-1" id="myCollapse3">
          <div class="card card-body p-0">
            <%= render 'features/form', obj: 3 %>
          </div>
        </div>
        <div class="features-list mt-2">
          <%= render 'features/lists', obj: { arr: @cat3, fid: '3'} %>
        </div>
      </div>
    </div>
  </div>

</div>